<div class="container mt-5 mb-5">

    <h1 class="text-center">About</h1>

   <ul class="list mt-4">
     
     <li>The logo of Foodie represents simply the name of the company and indicates the love for the good food. As its mission is to ensure that “Nobody has a bad meal”.</li>
     <br>
     <li>Foodie is a fastest growing restaurant discovery website, established recently.</li>
     <br>
     <li>It provides facilities such as online ordering, so that fresh and delicious food can be delivered at your doorstep.</li>
     <br>
     <li>No extra charge on food delivery.</li>
     <br>
     <li>It gives a platform to the restaurants owners to serves a large number of users a good quality of food.</li>
     </ul>

</div>
